name: 'Gemini Dispatch'

on:
  pull_request:
    types:
      - 'opened'
      - 'reopened'

jobs:
  review:
    if: github.event.pull_request.head.repo.fork == false
    uses: './.github/workflows/gemini-review.yml'
    secrets: 'inherit'